body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
    font-size: 32px !important;
}

h4 {
    color: #848B82;
    font-weight: 200;
    font-size: 16px;
}

.bold {
    font-weight: 300;
    color: #000;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #70C670;
}

a:hover {
    color: #00A300;
}

/*hr elements, with rocket*/
hr.rocket-primary {
    margin: 25px auto 30px;
    padding: 0;
    width: 70%;
    border: 0;
    border-top: solid 3px;
    text-align: center;
}

hr.rocket-primary:after {
    content: "\f135";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}



hr.rocket-primary {
    border-color: #00A300;
}

hr.rocket-primary:after {
    color: rgba(92, 230, 46, 0.6);
    background-color: #fff;
}


hr {
    border-color: #ebebeb;
    border-width: 1px;
    margin: 0px;
}


.blog-section {
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #70C670;
}

.blog-section h3 {
    font-weight: 300;
    color: #fff;
    margin: 0px;
    font-size: 20px;
}

.blog-li {
    color: #222 !important;
}

.intro-message h4 {
    font-weight: 300;
    color: #fff;
}

.intro-message h5 {
    font-weight:300;
}

.posts {
    padding-bottom: 10px;
}

.feedback {
    padding: 20px;
}

.feedback h3 {
    color: #3F423E;
    font-weight: 400;
}